*  {margin: 0px; padding: 0px;}

header{background-color: darkgreen;}
nav {background-color: blue;}
article{background-color: yellow;}
div {background-color: orangered;}
footer{background-color: darkred;}