* {margin: 0px; padding: 0px; box-sizing: border-box;}

.container {
    display: grid;
    height: 50vh;
    width: 80%;
    grid-template-rows: ;
    grid-template-columns: ;
    grid-template-areas: 
    'div-1 div-1 div-2 div-3'
    'div-1 div-1 div-4 div-5'
    'div-1 div-1 div-6 div-7';
}

.div1{ background-color: aqua; grid-area: div-1; color: #ffffff; text-align: center; align-content: center;}
.div2{ background-color: brown; grid-area: div-2;}
.div3{ background-color: green; grid-area: div-3;}
.div4{ background-color: yellow; grid-area: div-4;}
.div5{ background-color: blue; grid-area: div-5;}
.div6{ background-color: tomato; grid-area: div-6;}
.div7{ background-color: violet; grid-area: div-7;}